
body{
	
}
.clear{
	clear:both;
	width:0 !important;
	height:0 !important;
	min-height:0 !important;
	min-width:0 !important;
	overflow:hidden;
}
.container{
	margin:0 auto;
	width:1350px;
	outline:0px solid blue;
	background-repeat:no-repeat;
	direction:rtl;
	/*background-image:url(images/about.png);*/
}
header{
	width:1350px;
	height:160px;
	background-color:black;
	text-align:center;
}
header img{
	width:512px;
	height:140px;
	margin-top:10px;
}
/* -- Menu Bar And Banner -- */
nav{
	width:1350px;
	height:70px;
	background-color:black;
	opacity:0.7;
}
nav .menu{
	height:70px;
}
nav .menu ul{
	list-style-type:none;
	width:750px;
	margin:0 auto;
}
nav .menu ul li{
	float:right;
	border-left:160px solid transparent;	
	margin-top:25px;
		
}
nav .menu ul li:last-child{
	border-left:0 none;		
}
nav .menu ul li a{
	text-decoration:none;
	display:block;
	color:white;	
	font-size:20px;
	
}

.banner{
	width:1350px;
	height:470px;
	background-image:url(images/slide.jpg);
	
}
/* Inside Div In Bottom Of Page */
#inside{
	width:1200px;
	margin:0 auto;
	height:400px;
	outline:0px solid red;
	margin-top:50px;	
}
/*-----contact--------*/
.contact{
	width:1350px;
	height:500px;
	background-color:#e3e3e3;
	outline:0px dashed red;		
}
.contact .info{
	float:left;
	width:300px;
	margin-left:170px;
	height:400px;
	outline:0px dashed red;	
}
.contact .fourm{
	margin-left:500px;
	height:400px;
	outline:0px dashed red;
	text-align:right;
	
}
.contact .fourm .inside{
	width:700px;
	outline:0px dashed red;	
	float:right;
	margin-top:60px;
	margin-right:100px;
	
}
.contact .fourm input{
	width:350px;
	height:30px;	
}
.contact .fourm h3,input,textarea{
	margin-right:10px;
	margin-top:10px;
}
.contact .fourm textarea{
	width:480px;
	height:150px;
}
.contact .fourm #btn-contact{
	width:110px;
	height:50px;
	color:white;
	background-color:#222;	
	border-radius:8px;	
}
.contact .fourm #btn-contact:hover{
	color:#222;
	background-color:white;	
}
/*----End Contact ----*/


/*------ About Us --------*/
.aboutus{
	min-height:500px;
	background-color:#e3e3e3;
	padding:1px;	
}
.aboutus #inside .eng{
	float:left;
	width:550px;
	height:400px;
	outline:1px solid red;
	text-align:left;		
}
.aboutus #inside .fa{
	height:400px;
	outline:1px solid red;
	margin-left:650px;
	text-align:right;	
}
/* End AboutUs -- */
/*-------------------------------------*/
/*------Gallery-----------*/
.gallery{
	min-height:500px;
	padding:1px;
	background-color:#e3e3e3;	
}
.gallery #inside .hanan-video .iframe{
	width:365px;
	height:400px;
	background-color:#e3e3e3;
}
#moveibar{
	width:344px;
	padding:1px;
}
#left{
	float:left;
	width:142px;
	height:90px;
	margin-left:20px;
	margin-top:20px;
	cursor:pointer;
}
#right{
	margin-left:182px;
	margin-right:20px;
	margin-top:20px;
	height:90px;
	cursor:pointer;
}
.gallery #inside .hanan-video{
	margin-right:835px;
	height:400px;
	text-align:center;
	outline:1px solid red;	
}
/* end video galllery  */

/* PIC GALLERY */
.gallery #inside .hanan-pic{
	float:right;
	width:800px;
	outline:1px solid blue;
	height:400px;
}
.gallery #inside .hanan-pic #alboum {
	width:390px;
	height:190px;
	outline:2px solid red;
	
}
.gallery #inside .hanan-pic .firstalbm{
	float:left;
	background-image:url(images/first.jpg);
}
.gallery #inside .hanan-pic .secondalbm{
	margin-left:330px;			
}
.gallery #inside .hanan-pic .thirthalbm{
	float:left;
	margin-top:20px;			
}
.gallery #inside .hanan-pic .fourthalbm{
	margin-left:330px;
	margin-top:20px;			
}
/*-- Copyrights -- */
.copyright{
	width:1350px;
	height:70px;
	padding:1px;
	background-color:black;	
}
.copyright .text{
	width:300px;
	height:30px;
	margin:0 auto;
	margin-top:30px;
	color:white;
	text-align:center;	
	opacity:0.7;	
}